
$height: 60px;

.vertical-carousel {

  & .vertical-carousel-header
  {
    height:$height;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    overflow:hidden;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  & .vertical-carousel-body {
    position:relative;
    overflow: hidden;
    height:$height;
    overflow:hidden;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    &>ul {
      position: absolute;
      top:0;
      list-style:none;
      margin:0;
      padding:0;
      transition: top 0.3s ease-out;
      &>li {
        height:$height;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &>p {
          margin:0;
        }
      }
    }
  }
}

$color: map_get($white, mother);

.horizontal-carousel {

  & .item {

    display:none;

  }

  & .slider-dots {
    display:flex;
    justify-content:center;
    overflow:hidden;
    list-style:none;
    margin-top:20px;

    & > li {
      float:left;
      width: 40px;
      height:4px;
      border-radius:13px;
      margin:0 5px;
      cursor:pointer;
      background:$color;
      opacity:0.5;
      transition: opacity 0.3s;

      &.active {
        opacity:1;
      }

    }

  }

}
