// Input Type

$background       : map_get($white, mother);
$color            : map_get($white, child);

$border-style     : solid;
$border-width     : 2px;
$border-color     : map_get($default, mother);
$border-position  : border-bottom;

.form-element {

  position:relative;
  display:flex;
  background-color:transparent !important;
  overflow:hidden;
  border:0;
  border-radius: $form-element-radius;
  #{$border-position}-color: $border-color;
  #{$border-position}-style: $border-style;
  #{$border-position}-width: $border-width;
  margin-bottom: 20px;
  transition : border-bottom-color $transition;

  &::placeholder {
    color: darken($background, 0.2);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: darken($background, 0.2);
  }

  &::-ms-input-placeholder {
    color: darken($background, 0.2);
  }

  &:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:'';
    transition: background 0.3s, opacity 0.3s;
    z-index:-1;
    background: $background;
  }


  &.form-info {
    #{$border-position}-color: map_get($info, mother);
  }


  &.form-success {
    #{$border-position}-color: map_get($success, mother);
  }

  &.form-warning {
    #{$border-position}-color: map_get($warning, mother);
  }

  & > label {
    position:absolute;
    z-index:1;
    top:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom:0;
    color: lighten($color, 40%);
    transition: font-size 0.3s, height 0.3s, color 0.3s, margin-top 0.3s  ;

    &.label-on-focus {
      color: lighten($color, 50%);
    }
  }

  & .form-control {
    position:relative;
    z-index:2;
    background:transparent !important;
    align-self: flex-end;
    border-width: 0;

    &:focus {
    color: $color;
    background-color: inherit !important;
    border-color: inherit !important;
    outline: 0;
    box-shadow: inherit !important;
  }
}


  @each $name, $height in $heights {

    &.form-element#{map-get($height, name)} {

      & > label {
        padding-left:map_get($height, padding) * 2;
        padding-right:map_get($height, padding) * 2;

        &.label-on-focus {
          margin-top: (map_get($height, padding) / 2);
        }
      }

      & > .form-control {
        height:map-get($height, height);
        line-height:(map-get($height, height) - (map_get($height, padding) * 2));
        padding:map_get($height, padding) (map_get($height, padding) * 2);
        font-size: map_get($height, font-size);
      }

    }

  }


}
